<ion-view title="電影「沉默」" id="page23">
  <ion-content padding="false" class="has-header">
    <form id="page23-form16" class="list">
      <div class="spacer" style="width: 320px; height: 23px;"></div>
      <label class="item item-input" id="page23-search10">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="search" placeholder="" ng-model="data.search" ng-change="search()">
      </label>
    </form>
    <ion-list id="page23-list18">
      <ion-item class="item-thumbnail-left dark" id="page23-list-item20" ui-sref="etutorial({&quot;videokey&quot;:&quot;&quot;+etutorial.key+&quot;&quot;})" ng-repeat="etutorial in narrowed_etutorials">
        <img src="{{etutorial.image}}">
        <h2dark>{{etutorial.name}}
          <p style="white-space:normal;">{{etutorial.description}}</p>
        </h2dark>
      </ion-item>
    </ion-list>
    <div class="spacer" style="width: 320px; height: 32px;"></div>
    <div>
      <img src="img/Silence2FSilence1.pngaltmediatokene0b23caa-ffa6-49ba-98f8-8e795de2cfba" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div>
      <img src="img/Silence2FSilence2.pngaltmediatoken3f32fc81-8e7d-48b1-a1ff-d073b748cf32" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div>
      <img src="img/Silence2FSilence3.pngaltmediatoken232c456a-98a0-4267-a019-0959176b3320" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div>
      <img src="img/Silence2FSilence4.pngaltmediatoken651bc6cb-ee4b-4665-a85e-981a447674d6" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div>
      <img src="img/Silence2FSilence5.pngaltmediatoken468fcdc0-5449-4f67-bd83-791602c64018" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div>
      <img src="img/Silence2FSilence6.pngaltmediatokenb441deb9-14fd-4b40-8d90-646c3f7ce33a" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div>
      <img src="img/Silence2FSilence7.pngaltmediatoken6ae6957a-6754-422e-8337-65ca1ef47679" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div>
      <img src="img/Silence2FSilence8.pngaltmediatokenb1ac27e4-79ea-421b-952d-9507984a7240" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div>
      <img src="img/Silence2FSilence9.pngaltmediatoken642b6c3d-cbeb-4b84-a10a-db4f26389ef1" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="width: 320px; height: 36px;"></div>
  </ion-content>
</ion-view>