<ion-view title="每天祈禱" id="page4">
  <ion-content padding="true" class="manual-remove-top-padding has-header">
    <ion-refresher pulling-text="欲更新內容，請拉下指令列..." on-refresh="loadData()"></ion-refresher>
    <form id="page4-form3" class="list">
      <div style="margin-left: -10px; width: calc(100% + 20px);">
        <img src="img/POP1.JPGaltmediatoken81f53ba6-9c84-40d9-8905-3d3b8c4921d4" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </div>
      <div class="spacer" style="width: 300px; height: 23px;"></div>
    </form>
    <div id="page4-markdown59" ng-repeat="child in children" class="show-list-numbers-and-dots">
      <p style="color:#F59717;font-size:16px;">{{child.secondo_date}}</p>
    </div>
    <div id="page4-markdown60" ng-repeat="child in children" class="show-list-numbers-and-dots">
      <p style="color:#647BD1;font-size:16px;">{{child.secondo_momentmattino}}</p>
    </div>
    <div id="page4-markdown61" ng-repeat="child in children" class="show-list-numbers-and-dots">
      <p style="color:#000000;font-size:16px;">{{child.secondo_namemattino}}</p>
    </div>
    <div id="page4-markdown62" ng-repeat="child in children" class="show-list-numbers-and-dots">
      <p style="color:#647BD1;font-size:16px;">{{child.secondo_momentmezzo}}</p>
    </div>
    <div id="page4-markdown63" ng-repeat="child in children" class="show-list-numbers-and-dots">
      <p style="color:#000000;font-size:16px;">{{child.secondo_namemezzo}}</p>
    </div>
    <div id="page4-markdown64" ng-repeat="child in children" class="show-list-numbers-and-dots">
      <p style="color:#647BD1;font-size:16px;">{{child.secondo_momentsera}}</p>
    </div>
    <div id="page4-markdown65" ng-repeat="child in children" class="show-list-numbers-and-dots">
      <p style="color:#000000;font-size:16px;">{{child.secondo_namesera}}</p>
    </div>
    <div class="spacer" style="width: 300px; height: 36px;"></div>
    <div id="page4-markdown226" style="text-align:center;" class="show-list-numbers-and-dots">
      <p style="color:#09B89C;">
        <strong>跟教宗一起祈禱</strong>
      </p>
    </div>
    <div class="spacer" style="width: 300px; height: 37px;"></div>
    <div id="page4-markdown66" ng-repeat="child in children" class="show-list-numbers-and-dots">
      <p style="color:#F59717;font-size:16px;">{{child.terzo_date}}</p>
    </div>
    <div id="page4-markdown67" ng-repeat="child in children" class="show-list-numbers-and-dots">
      <p style="color:#647BD1;font-size:16px;">{{child.terzo_momentmattino}}</p>
    </div>
    <div id="page4-markdown68" ng-repeat="child in children" class="show-list-numbers-and-dots">
      <p style="color:#000000;font-size:16px;">{{child.terzo_namemattino}}</p>
    </div>
    <div id="page4-markdown69" ng-repeat="child in children" class="show-list-numbers-and-dots">
      <p style="color:#647BD1;font-size:16px;">{{child.terzo_momentmezzo}}</p>
    </div>
    <div id="page4-markdown70" ng-repeat="child in children" class="show-list-numbers-and-dots">
      <p style="color:#000000;font-size:16px;">{{child.terzo_namemezzo}}</p>
    </div>
    <div id="page4-markdown71" ng-repeat="child in children" class="show-list-numbers-and-dots">
      <p style="color:#647BD1;font-size:16px;">{{child.terzo_momentsera}}</p>
    </div>
    <div id="page4-markdown72" ng-repeat="child in children" class="show-list-numbers-and-dots">
      <p style="color:#000000;font-size:16px;">{{child.terzo_namesera}}</p>
    </div>
    <div class="spacer" style="width: 300px; height: 23px;"></div>
    <div id="page4-markdown73" ng-repeat="child in children" class="show-list-numbers-and-dots">
      <p style="color:#F59717;font-size:16px;">{{child.quarto_date}}</p>
    </div>
    <div id="page4-markdown74" ng-repeat="child in children" class="show-list-numbers-and-dots">
      <p style="color:#647BD1;font-size:16px;">{{child.quarto_momentmattino}}</p>
    </div>
    <div id="page4-markdown75" ng-repeat="child in children" class="show-list-numbers-and-dots">
      <p style="color:#000000;font-size:16px;">{{child.quarto_namemattino}}</p>
    </div>
    <div id="page4-markdown76" ng-repeat="child in children" class="show-list-numbers-and-dots">
      <p style="color:#647BD1;font-size:16px;">{{child.quarto_momentmezzo}}</p>
    </div>
    <div id="page4-markdown77" ng-repeat="child in children" class="show-list-numbers-and-dots">
      <p style="color:#000000;font-size:16px;">{{child.quarto_namemezzo}}</p>
    </div>
    <div id="page4-markdown78" ng-repeat="child in children" class="show-list-numbers-and-dots">
      <p style="color:#647BD1;font-size:16px;">{{child.quarto_momentsera}}</p>
    </div>
    <div id="page4-markdown79" ng-repeat="child in children" class="show-list-numbers-and-dots">
      <p style="color:#000000;font-size:16px;">{{child.quarto_namesera}}</p>
    </div>
    <div class="spacer" style="width: 300px; height: 23px;"></div>
    <div id="page4-markdown80" ng-repeat="child in children" class="show-list-numbers-and-dots">
      <p style="color:#F59717;font-size:16px;">{{child.quinto_date}}</p>
    </div>
    <div id="page4-markdown81" ng-repeat="child in children" class="show-list-numbers-and-dots">
      <p style="color:#647BD1;font-size:16px;">{{child.quinto_momentmattino}}</p>
    </div>
    <div id="page4-markdown82" ng-repeat="child in children" class="show-list-numbers-and-dots">
      <p style="color:#000000;font-size:16px;">{{child.quinto_namemattino}}</p>
    </div>
    <div id="page4-markdown83" ng-repeat="child in children" class="show-list-numbers-and-dots">
      <p style="color:#647BD1;font-size:16px;">{{child.quinto_momentmezzo}}</p>
    </div>
    <div id="page4-markdown84" ng-repeat="child in children" class="show-list-numbers-and-dots">
      <p style="color:#000000;font-size:16px;">{{child.quinto_namemezzo}}</p>
    </div>
    <div id="page4-markdown86" ng-repeat="child in children" class="show-list-numbers-and-dots">
      <p style="color:#647BD1;font-size:16px;">{{child.quinto_momentsera}}</p>
    </div>
    <div id="page4-markdown85" ng-repeat="child in children" class="show-list-numbers-and-dots">
      <p style="color:#000000;font-size:16px;">{{child.quinto_namesera}}</p>
    </div>
    <div class="spacer" style="width: 300px; height: 23px;"></div>
    <div id="page4-markdown87" ng-repeat="child in children" class="show-list-numbers-and-dots">
      <p style="color:#F59717;font-size:16px;">{{child.sesto_date}}</p>
    </div>
    <div id="page4-markdown88" ng-repeat="child in children" class="show-list-numbers-and-dots">
      <p style="color:#647BD1;font-size:16px;">{{child.sesto_momentmattino}}</p>
    </div>
    <div id="page4-markdown89" ng-repeat="child in children" class="show-list-numbers-and-dots">
      <p style="color:#000000;font-size:16px;">{{child.sesto_namemattino}}</p>
    </div>
    <div id="page4-markdown90" ng-repeat="child in children" class="show-list-numbers-and-dots">
      <p style="color:#647BD1;font-size:16px;">{{child.sesto_momentmezzo}}</p>
    </div>
    <div id="page4-markdown91" ng-repeat="child in children" class="show-list-numbers-and-dots">
      <p style="color:#000000;font-size:16px;">{{child.sesto_namemezzo}}</p>
    </div>
    <div id="page4-markdown92" ng-repeat="child in children" class="show-list-numbers-and-dots">
      <p style="color:#647BD1;font-size:16px;">{{child.sesto_momentsera}}</p>
    </div>
    <div id="page4-markdown93" ng-repeat="child in children" class="show-list-numbers-and-dots">
      <p style="color:#000000;font-size:16px;">{{child.sesto_namesera}}</p>
    </div>
    <div class="spacer" style="width: 300px; height: 23px;"></div>
    <div id="page4-markdown94" ng-repeat="child in children" class="show-list-numbers-and-dots">
      <p style="color:#F59717;font-size:16px;">{{child.settimo_date}}</p>
    </div>
    <div id="page4-markdown95" ng-repeat="child in children" class="show-list-numbers-and-dots">
      <p style="color:#647BD1;font-size:16px;">{{child.settimo_momentmattino}}</p>
    </div>
    <div id="page4-markdown96" ng-repeat="child in children" class="show-list-numbers-and-dots">
      <p style="color:#000000;font-size:16px;">{{child.settimo_namemattino}}</p>
    </div>
    <div id="page4-markdown97" ng-repeat="child in children" class="show-list-numbers-and-dots">
      <p style="color:#647BD1;font-size:16px;">{{child.settimo_momentmezzo}}</p>
    </div>
    <div id="page4-markdown98" ng-repeat="child in children" class="show-list-numbers-and-dots">
      <p style="color:#000000;font-size:16px;">{{child.settimo_namemezzo}}</p>
    </div>
    <div id="page4-markdown99" ng-repeat="child in children" class="show-list-numbers-and-dots">
      <p style="color:#647BD1;font-size:16px;">{{child.settimo_momentsera}}</p>
    </div>
    <div id="page4-markdown100" ng-repeat="child in children" class="show-list-numbers-and-dots">
      <p style="color:#000000;font-size:16px;">{{child.settimo_namesera}}</p>
    </div>
    <div class="spacer" style="width: 300px; height: 23px;"></div>
    <div id="page4-markdown101" ng-repeat="child in children" class="show-list-numbers-and-dots">
      <p style="color:#F59717;font-size:16px;">{{child.ottavo_date}}</p>
    </div>
    <div id="page4-markdown102" ng-repeat="child in children" class="show-list-numbers-and-dots">
      <p style="color:#647BD1;font-size:16px;">{{child.ottavo_momentmattino}}</p>
    </div>
    <div id="page4-markdown103" ng-repeat="child in children" class="show-list-numbers-and-dots">
      <p style="color:#000000;font-size:16px;">{{child.ottavo_namemattino}}</p>
    </div>
    <div id="page4-markdown104" ng-repeat="child in children" class="show-list-numbers-and-dots">
      <p style="color:#647BD1;font-size:16px;">{{child.ottavo_momentmezzo}}</p>
    </div>
    <div id="page4-markdown105" ng-repeat="child in children" class="show-list-numbers-and-dots">
      <p style="color:#000000;font-size:16px;">{{child.ottavo_namemezzo}}</p>
    </div>
    <div id="page4-markdown106" ng-repeat="child in children" class="show-list-numbers-and-dots">
      <p style="color:#647BD1;font-size:16px;">{{child.ottavo_momentsera}}</p>
    </div>
    <div id="page4-markdown107" ng-repeat="child in children" class="show-list-numbers-and-dots">
      <p style="color:#000000;font-size:16px;">{{child.ottavo_namesera}}</p>
    </div>
    <div class="spacer" style="width: 300px; height: 23px;"></div>
    <div id="page4-markdown108" ng-repeat="child in children" class="show-list-numbers-and-dots">
      <p style="color:#F59717;font-size:16px;">{{child.nono_date}}</p>
    </div>
    <div id="page4-markdown109" ng-repeat="child in children" class="show-list-numbers-and-dots">
      <p style="color:#647BD1;font-size:16px;">{{child.nono_momentmattino}}</p>
    </div>
    <div id="page4-markdown110" ng-repeat="child in children" class="show-list-numbers-and-dots">
      <p style="color:#000000;font-size:16px;">{{child.nono_namemattino}}</p>
    </div>
    <div id="page4-markdown112" ng-repeat="child in children" class="show-list-numbers-and-dots">
      <p style="color:#647BD1;font-size:16px;">{{child.nono_momentmezzo}}</p>
    </div>
    <div id="page4-markdown113" ng-repeat="child in children" class="show-list-numbers-and-dots">
      <p style="color:#000000;font-size:16px;">{{child.nono_namemezzo}}</p>
    </div>
    <div id="page4-markdown114" ng-repeat="child in children" class="show-list-numbers-and-dots">
      <p style="color:#647BD1;font-size:16px;">{{child.nono_momentsera}}</p>
    </div>
    <div id="page4-markdown115" ng-repeat="child in children" class="show-list-numbers-and-dots">
      <p style="color:#000000;font-size:16px;">{{child.nono_namesera}}</p>
    </div>
    <div class="spacer" style="width: 300px; height: 23px;"></div>
    <div id="page4-markdown111" ng-repeat="child in children" class="show-list-numbers-and-dots">
      <p style="color:#F59717;font-size:16px;">{{child.decimo_date}}</p>
    </div>
    <div id="page4-markdown116" ng-repeat="child in children" class="show-list-numbers-and-dots">
      <p style="color:#647BD1;font-size:16px;">{{child.decimo_momentmattino}}</p>
    </div>
    <div id="page4-markdown117" ng-repeat="child in children" class="show-list-numbers-and-dots">
      <p style="color:#000000;font-size:16px;">{{child.decimo_namemattino}}</p>
    </div>
    <div id="page4-markdown121" ng-repeat="child in children" class="show-list-numbers-and-dots">
      <p style="color:#647BD1;font-size:16px;">{{child.decimo_momentmezzo}}</p>
    </div>
    <div id="page4-markdown120" ng-repeat="child in children" class="show-list-numbers-and-dots">
      <p style="color:#000000;font-size:16px;">{{child.decimo_namemezzo}}</p>
    </div>
    <div id="page4-markdown119" ng-repeat="child in children" class="show-list-numbers-and-dots">
      <p style="color:#647BD1;font-size:16px;">{{child.decimo_momentsera}}</p>
    </div>
    <div id="page4-markdown118" ng-repeat="child in children" class="show-list-numbers-and-dots">
      <p style="color:#000000;font-size:16px;">{{child.decimo_namesera}}</p>
    </div>
    <div class="spacer" style="width: 300px; height: 23px;"></div>
    <div id="page4-markdown122" ng-repeat="child in children" class="show-list-numbers-and-dots">
      <p style="color:#F59717;font-size:16px;">{{child.undici_date}}</p>
    </div>
    <div id="page4-markdown123" ng-repeat="child in children" class="show-list-numbers-and-dots">
      <p style="color:#647BD1;font-size:16px;">{{child.undici_momentmattino}}</p>
    </div>
    <div id="page4-markdown124" ng-repeat="child in children" class="show-list-numbers-and-dots">
      <p style="color:#000000;font-size:16px;">{{child.undici_namemattino}}</p>
    </div>
    <div id="page4-markdown125" ng-repeat="child in children" class="show-list-numbers-and-dots">
      <p style="color:#647BD1;font-size:16px;">{{child.undici_momentmezzo}}</p>
    </div>
    <div id="page4-markdown126" ng-repeat="child in children" class="show-list-numbers-and-dots">
      <p style="color:#000000;font-size:16px;">{{child.undici_namemezzo}}</p>
    </div>
    <div id="page4-markdown127" ng-repeat="child in children" class="show-list-numbers-and-dots">
      <p style="color:#647BD1;font-size:16px;">{{child.undici_momentsera}}</p>
    </div>
    <div id="page4-markdown128" ng-repeat="child in children" class="show-list-numbers-and-dots">
      <p style="color:#000000;font-size:16px;">{{child.undici_namesera}}</p>
    </div>
    <div class="spacer" style="width: 300px; height: 23px;"></div>
    <div id="page4-markdown129" ng-repeat="child in children" class="show-list-numbers-and-dots">
      <p style="color:#F59717;font-size:16px;">{{child.dodici_date}}</p>
    </div>
    <div id="page4-markdown130" ng-repeat="child in children" class="show-list-numbers-and-dots">
      <p style="color:#647BD1;font-size:16px;">{{child.dodici_momentmattino}}</p>
    </div>
    <div id="page4-markdown131" ng-repeat="child in children" class="show-list-numbers-and-dots">
      <p style="color:#000000;font-size:16px;">{{child.dodici_namemattino}}</p>
    </div>
    <div id="page4-markdown132" ng-repeat="child in children" class="show-list-numbers-and-dots">
      <p style="color:#647BD1;font-size:16px;">{{child.dodici_momentmezzo}}</p>
    </div>
    <div id="page4-markdown133" ng-repeat="child in children" class="show-list-numbers-and-dots">
      <p style="color:#000000;font-size:16px;">{{child.dodici_namemezzo}}</p>
    </div>
    <div id="page4-markdown134" ng-repeat="child in children" class="show-list-numbers-and-dots">
      <p style="color:#647BD1;font-size:16px;">{{child.dodici_momentsera}}</p>
    </div>
    <div id="page4-markdown135" ng-repeat="child in children" class="show-list-numbers-and-dots">
      <p style="color:#000000;font-size:16px;">{{child.dodici_namesera}}</p>
    </div>
    <div class="spacer" style="width: 300px; height: 23px;"></div>
    <div id="page4-markdown136" ng-repeat="child in children" class="show-list-numbers-and-dots">
      <p style="color:#F59717;font-size:16px;">{{child.tredici_date}}</p>
    </div>
    <div id="page4-markdown137" ng-repeat="child in children" class="show-list-numbers-and-dots">
      <p style="color:#647BD1;font-size:16px;">{{child.tredici_momentmattino}}</p>
    </div>
    <div id="page4-markdown138" ng-repeat="child in children" class="show-list-numbers-and-dots">
      <p style="color:#000000;font-size:16px;">{{child.tredici_namemattino}}</p>
    </div>
    <div id="page4-markdown139" ng-repeat="child in children" class="show-list-numbers-and-dots">
      <p style="color:#647BD1;font-size:16px;">{{child.tredici_momentmezzo}}</p>
    </div>
    <div id="page4-markdown140" ng-repeat="child in children" class="show-list-numbers-and-dots">
      <p style="color:#000000;font-size:16px;">{{child.tredici_namemezzo}}</p>
    </div>
    <div id="page4-markdown141" ng-repeat="child in children" class="show-list-numbers-and-dots">
      <p style="color:#647BD1;font-size:16px;">{{child.tredici_momentsera}}</p>
    </div>
    <div id="page4-markdown142" ng-repeat="child in children" class="show-list-numbers-and-dots">
      <p style="color:#000000;font-size:16px;">{{child.tredici_namesera}}</p>
    </div>
    <div class="spacer" style="width: 300px; height: 23px;"></div>
    <div id="page4-markdown143" ng-repeat="child in children" class="show-list-numbers-and-dots">
      <p style="color:#F59717;font-size:16px;">{{child.quattordici_date}}</p>
    </div>
    <div id="page4-markdown144" ng-repeat="child in children" class="show-list-numbers-and-dots">
      <p style="color:#647BD1;font-size:16px;">{{child.quattordici_momentmattino}}</p>
    </div>
    <div id="page4-markdown145" ng-repeat="child in children" class="show-list-numbers-and-dots">
      <p style="color:#000000;font-size:16px;">{{child.quattordici_namemattino}}</p>
    </div>
    <div id="page4-markdown146" ng-repeat="child in children" class="show-list-numbers-and-dots">
      <p style="color:#647BD1;font-size:16px;">{{child.quattordici_momentmezzo}}</p>
    </div>
    <div id="page4-markdown147" ng-repeat="child in children" class="show-list-numbers-and-dots">
      <p style="color:#000000;font-size:16px;">{{child.quattordici_namemezzo}}</p>
    </div>
    <div id="page4-markdown148" ng-repeat="child in children" class="show-list-numbers-and-dots">
      <p style="color:#647BD1;font-size:16px;">{{child.quattordici_momentsera}}</p>
    </div>
    <div id="page4-markdown149" ng-repeat="child in children" class="show-list-numbers-and-dots">
      <p style="color:#000000;font-size:16px;">{{child.quattordici_namesera}}</p>
    </div>
    <div class="spacer" style="width: 300px; height: 23px;"></div>
    <div id="page4-markdown150" ng-repeat="child in children" class="show-list-numbers-and-dots">
      <p style="color:#F59717;font-size:16px;">{{child.quindici_date}}</p>
    </div>
    <div id="page4-markdown151" ng-repeat="child in children" class="show-list-numbers-and-dots">
      <p style="color:#647BD1;font-size:16px;">{{child.quindici_momentmattino}}</p>
    </div>
    <div id="page4-markdown152" ng-repeat="child in children" class="show-list-numbers-and-dots">
      <p style="color:#000000;font-size:16px;">{{child.quindici_namemattino}}</p>
    </div>
    <div id="page4-markdown153" ng-repeat="child in children" class="show-list-numbers-and-dots">
      <p style="color:#647BD1;font-size:16px;">{{child.quindici_momentmezzo}}</p>
    </div>
    <div id="page4-markdown154" ng-repeat="child in children" class="show-list-numbers-and-dots">
      <p style="color:#000000;font-size:16px;">{{child.quindici_namemezzo}}</p>
    </div>
    <div id="page4-markdown155" ng-repeat="child in children" class="show-list-numbers-and-dots">
      <p style="color:#647BD1;font-size:16px;">{{child.quindici_momentsera}}</p>
    </div>
    <div id="page4-markdown156" ng-repeat="child in children" class="show-list-numbers-and-dots">
      <p style="color:#000000;font-size:16px;">{{child.quindici_namesera}}</p>
    </div>
    <div class="spacer" style="width: 300px; height: 23px;"></div>
    <div id="page4-markdown157" ng-repeat="child in children" class="show-list-numbers-and-dots">
      <p style="color:#F59717;font-size:16px;">{{child.sedici_date}}</p>
    </div>
    <div id="page4-markdown158" ng-repeat="child in children" class="show-list-numbers-and-dots">
      <p style="color:#647BD1;font-size:16px;">{{child.sedici_momentmattino}}</p>
    </div>
    <div id="page4-markdown159" ng-repeat="child in children" class="show-list-numbers-and-dots">
      <p style="color:#000000;font-size:16px;">{{child.sedici_namemattino}}</p>
    </div>
    <div id="page4-markdown160" ng-repeat="child in children" class="show-list-numbers-and-dots">
      <p style="color:#647BD1;font-size:16px;">{{child.sedici_momentmezzo}}</p>
    </div>
    <div id="page4-markdown161" ng-repeat="child in children" class="show-list-numbers-and-dots">
      <p style="color:#000000;font-size:16px;">{{child.sedici_namemezzo}}</p>
    </div>
    <div id="page4-markdown162" ng-repeat="child in children" class="show-list-numbers-and-dots">
      <p style="color:#647BD1;font-size:16px;">{{child.sedici_momentsera}}</p>
    </div>
    <div id="page4-markdown163" ng-repeat="child in children" class="show-list-numbers-and-dots">
      <p style="color:#000000;font-size:16px;">{{child.sedici_namesera}}</p>
    </div>
    <div class="spacer" style="width: 300px; height: 23px;"></div>
    <div id="page4-markdown206" ng-repeat="child in children" class="show-list-numbers-and-dots">
      <p style="color:#F59717;font-size:16px;">{{child.diciassette_date}}</p>
    </div>
    <div id="page4-markdown164" ng-repeat="child in children" class="show-list-numbers-and-dots">
      <p style="color:#647BD1;font-size:16px;">{{child.diciassette_momentmattino}}</p>
    </div>
    <div id="page4-markdown165" ng-repeat="child in children" class="show-list-numbers-and-dots">
      <p style="color:#000000;font-size:16px;">{{child.diciassette_namemattino}}</p>
    </div>
    <div id="page4-markdown166" ng-repeat="child in children" class="show-list-numbers-and-dots">
      <p style="color:#647BD1;font-size:16px;">{{child.diciassette_momentmezzo}}</p>
    </div>
    <div id="page4-markdown167" ng-repeat="child in children" class="show-list-numbers-and-dots">
      <p style="color:#000000;font-size:16px;">{{child.diciassette_namemezzo}}</p>
    </div>
    <div id="page4-markdown168" ng-repeat="child in children" class="show-list-numbers-and-dots">
      <p style="color:#647BD1;font-size:16px;">{{child.diciassette_momentsera}}</p>
    </div>
    <div id="page4-markdown169" ng-repeat="child in children" class="show-list-numbers-and-dots">
      <p style="color:#000000;font-size:16px;">{{child.diciassette_namesera}}</p>
    </div>
    <div class="spacer" style="width: 300px; height: 23px;"></div>
    <div id="page4-markdown170" ng-repeat="child in children" class="show-list-numbers-and-dots">
      <p style="color:#F59717;font-size:16px;">{{child.diciotto_date}}</p>
    </div>
    <div id="page4-markdown171" ng-repeat="child in children" class="show-list-numbers-and-dots">
      <p style="color:#647BD1;font-size:16px;">{{child.diciotto_momentmattino}}</p>
    </div>
    <div id="page4-markdown172" ng-repeat="child in children" class="show-list-numbers-and-dots">
      <p style="color:#000000;font-size:16px;">{{child.diciotto_namemattino}}</p>
    </div>
    <div id="page4-markdown173" ng-repeat="child in children" class="show-list-numbers-and-dots">
      <p style="color:#647BD1;font-size:16px;">{{child.diciotto_momentmezzo}}</p>
    </div>
    <div id="page4-markdown174" ng-repeat="child in children" class="show-list-numbers-and-dots">
      <p style="color:#000000;font-size:16px;">{{child.diciotto_namemezzo}}</p>
    </div>
    <div id="page4-markdown175" ng-repeat="child in children" class="show-list-numbers-and-dots">
      <p style="color:#647BD1;font-size:16px;">{{child.diciotto_momentsera}}</p>
    </div>
    <div id="page4-markdown176" ng-repeat="child in children" class="show-list-numbers-and-dots">
      <p style="color:#000000;font-size:16px;">{{child.diciotto_namesera}}</p>
    </div>
    <div class="spacer" style="width: 300px; height: 23px;"></div>
    <div id="page4-markdown177" ng-repeat="child in children" class="show-list-numbers-and-dots">
      <p style="color:#F59717;font-size:16px;">{{child.diciannove_date}}</p>
    </div>
    <div id="page4-markdown178" ng-repeat="child in children" class="show-list-numbers-and-dots">
      <p style="color:#647BD1;font-size:16px;">{{child.diciannove_momentmattino}}</p>
    </div>
    <div id="page4-markdown179" ng-repeat="child in children" class="show-list-numbers-and-dots">
      <p style="color:#000000;font-size:16px;">{{child.diciannove_namemattino}}</p>
    </div>
    <div id="page4-markdown180" ng-repeat="child in children" class="show-list-numbers-and-dots">
      <p style="color:#647BD1;font-size:16px;">{{child.diciannove_momentmezzo}}</p>
    </div>
    <div id="page4-markdown181" ng-repeat="child in children" class="show-list-numbers-and-dots">
      <p style="color:#000000;font-size:16px;">{{child.diciannove_namemezzo}}</p>
    </div>
    <div id="page4-markdown182" ng-repeat="child in children" class="show-list-numbers-and-dots">
      <p style="color:#647BD1;font-size:16px;">{{child.diciannove_momentsera}}</p>
    </div>
    <div id="page4-markdown183" ng-repeat="child in children" class="show-list-numbers-and-dots">
      <p style="color:#000000;font-size:16px;">{{child.diciannove_namesera}}</p>
    </div>
    <div class="spacer" style="width: 300px; height: 23px;"></div>
    <div id="page4-markdown184" ng-repeat="child in children" class="show-list-numbers-and-dots">
      <p style="color:#F59717;font-size:16px;">{{child.venti_date}}</p>
    </div>
    <div id="page4-markdown185" ng-repeat="child in children" class="show-list-numbers-and-dots">
      <p style="color:#647BD1;font-size:16px;">{{child.venti_momentmattino}}</p>
    </div>
    <div id="page4-markdown186" ng-repeat="child in children" class="show-list-numbers-and-dots">
      <p style="color:#000000;font-size:16px;">{{child.venti_namemattino}}</p>
    </div>
    <div id="page4-markdown187" ng-repeat="child in children" class="show-list-numbers-and-dots">
      <p style="color:#647BD1;font-size:16px;">{{child.venti_momentmezzo}}</p>
    </div>
    <div id="page4-markdown188" ng-repeat="child in children" class="show-list-numbers-and-dots">
      <p style="color:#000000;font-size:16px;">{{child.venti_namemezzo}}</p>
    </div>
    <div id="page4-markdown189" ng-repeat="child in children" class="show-list-numbers-and-dots">
      <p style="color:#647BD1;font-size:16px;">{{child.venti_momentsera}}</p>
    </div>
    <div id="page4-markdown190" ng-repeat="child in children" class="show-list-numbers-and-dots">
      <p style="color:#000000;font-size:16px;">{{child.venti_namesera}}</p>
    </div>
    <div class="spacer" style="width: 300px; height: 23px;"></div>
    <div id="page4-markdown197" ng-repeat="child in children" class="show-list-numbers-and-dots">
      <p style="color:#F59717;font-size:16px;">{{child.ventuno_date}}</p>
    </div>
    <div id="page4-markdown196" ng-repeat="child in children" class="show-list-numbers-and-dots">
      <p style="color:#647BD1;font-size:16px;">{{child.ventuno_momentmattino}}</p>
    </div>
    <div id="page4-markdown195" ng-repeat="child in children" class="show-list-numbers-and-dots">
      <p style="color:#000000;font-size:16px;">{{child.ventuno_namemattino}}</p>
    </div>
    <div id="page4-markdown194" ng-repeat="child in children" class="show-list-numbers-and-dots">
      <p style="color:#647BD1;font-size:16px;">{{child.ventuno_momentmezzo}}</p>
    </div>
    <div id="page4-markdown193" ng-repeat="child in children" class="show-list-numbers-and-dots">
      <p style="color:#000000;font-size:16px;">{{child.ventuno_namemezzo}}</p>
    </div>
    <div id="page4-markdown192" ng-repeat="child in children" class="show-list-numbers-and-dots">
      <p style="color:#647BD1;font-size:16px;">{{child.ventuno_momentsera}}</p>
    </div>
    <div id="page4-markdown191" ng-repeat="child in children" class="show-list-numbers-and-dots">
      <p style="color:#000000;font-size:16px;">{{child.ventuno_namesera}}</p>
    </div>
    <div class="spacer" style="width: 300px; height: 23px;"></div>
    <div id="page4-markdown203" ng-repeat="child in children" class="show-list-numbers-and-dots">
      <p style="color:#F59717;font-size:16px;">{{child.ventidue_date}}</p>
    </div>
    <div id="page4-markdown204" ng-repeat="child in children" class="show-list-numbers-and-dots">
      <p style="color:#647BD1;font-size:16px;">{{child.ventidue_momentmattino}}</p>
    </div>
    <div id="page4-markdown202" ng-repeat="child in children" class="show-list-numbers-and-dots">
      <p style="color:#000000;font-size:16px;">{{child.ventidue_namemattino}}</p>
    </div>
    <div id="page4-markdown201" ng-repeat="child in children" class="show-list-numbers-and-dots">
      <p style="color:#647BD1;font-size:16px;">{{child.ventidue_momentmezzo}}</p>
    </div>
    <div id="page4-markdown200" ng-repeat="child in children" class="show-list-numbers-and-dots">
      <p style="color:#000000;font-size:16px;">{{child.ventidue_namemezzo}}</p>
    </div>
    <div id="page4-markdown199" ng-repeat="child in children" class="show-list-numbers-and-dots">
      <p style="color:#647BD1;font-size:16px;">{{child.ventidue_momentsera}}</p>
    </div>
    <div id="page4-markdown198" ng-repeat="child in children" class="show-list-numbers-and-dots">
      <p style="color:#000000;font-size:16px;">{{child.ventidue_namesera}}</p>
    </div>
    <div class="spacer" style="width: 300px; height: 23px;"></div>
    <div id="page4-markdown216" ng-repeat="child in children" class="show-list-numbers-and-dots">
      <p style="color:#F59717;font-size:16px;">{{child.ventitre_date}}</p>
    </div>
    <div id="page4-markdown215" ng-repeat="child in children" class="show-list-numbers-and-dots">
      <p style="color:#647BD1;font-size:16px;">{{child.ventitre_momentmattino}}</p>
    </div>
    <div id="page4-markdown214" ng-repeat="child in children" class="show-list-numbers-and-dots">
      <p style="color:#000000;font-size:16px;">{{child.ventitre_namemattino}}</p>
    </div>
    <div id="page4-markdown213" ng-repeat="child in children" class="show-list-numbers-and-dots">
      <p style="color:#647BD1;font-size:16px;">{{child.ventitre_momentmezzo}}</p>
    </div>
    <div id="page4-markdown212" ng-repeat="child in children" class="show-list-numbers-and-dots">
      <p style="color:#000000;font-size:16px;">{{child.ventitre_namemezzo}}</p>
    </div>
    <div id="page4-markdown211" ng-repeat="child in children" class="show-list-numbers-and-dots">
      <p style="color:#647BD1;font-size:16px;">{{child.ventitre_momentsera}}</p>
    </div>
    <div id="page4-markdown210" ng-repeat="child in children" class="show-list-numbers-and-dots">
      <p style="color:#000000;font-size:16px;">{{child.ventitre_namesera}}</p>
    </div>
    <div class="spacer" style="width: 300px; height: 23px;"></div>
    <div id="page4-markdown222" ng-repeat="child in children" class="show-list-numbers-and-dots">
      <p style="color:#F59717;font-size:16px;">{{child.ventiquattro_date}}</p>
    </div>
    <div id="page4-markdown223" ng-repeat="child in children" class="show-list-numbers-and-dots">
      <p style="color:#647BD1;font-size:16px;">{{child.ventiquattro_momentmattino}}</p>
    </div>
    <div id="page4-markdown221" ng-repeat="child in children" class="show-list-numbers-and-dots">
      <p style="color:#000000;font-size:16px;">{{child.ventiquattro_namemattino}}</p>
    </div>
    <div id="page4-markdown220" ng-repeat="child in children" class="show-list-numbers-and-dots">
      <p style="color:#647BD1;font-size:16px;">{{child.ventiquattro_momentmezzo}}</p>
    </div>
    <div id="page4-markdown219" ng-repeat="child in children" class="show-list-numbers-and-dots">
      <p style="color:#000000;font-size:16px;">{{child.ventiquattro_namemezzo}}</p>
    </div>
    <div id="page4-markdown218" ng-repeat="child in children" class="show-list-numbers-and-dots">
      <p style="color:#647BD1;font-size:16px;">{{child.ventiquattro_momentsera}}</p>
    </div>
    <div id="page4-markdown217" ng-repeat="child in children" class="show-list-numbers-and-dots">
      <p style="color:#000000;font-size:16px;">{{child.ventiquattro_namesera}}</p>
    </div>
    <div class="spacer" style="width: 300px; height: 23px;"></div>
    <div class="spacer" style="height: 100px;"></div>
  </ion-content>
</ion-view>